<header>
    <mat-toolbar class="primary-toolbar">
        <nav>
            <div id="left-menu">
                <a href="/">
                    <img src="images/site-logo.png" alt="site-logo" id="logo">
                </a>
                <!-- <a *ngIf="(currentUser$ | async)?.admin" id="admin" routerLink="/admin">
                    Admin
                </a> -->
            </div>

            <ul class="navigation-items">
                <li><a mat-button routerLink="/dashboard">Home</a></li>
                <li><a mat-button routerLink="/words">Vocab</a></li>
                <li><a mat-button routerLink="/notes">Note</a></li>
                <li><a mat-button routerLink="/quiz">Quiz</a></li>
                <li class="right">
                    <a mat-button *ngIf="!(currentUser$ | async)" routerLink="/login">Login</a>
                    <a mat-button *ngIf="currentUser$ | async" (click)="logout()">Logout</a>
                </li>
                <li><a mat-button routerLink="/register">Register</a></li>
            </ul>
        </nav>
    </mat-toolbar>
</header>