<div class="notes-header">
  <h2>My Notes</h2>
  <button mat-raised-button color="primary" (click)="goToAddNote()">
    Add Note
  </button>
</div>

<div *ngIf="loading" class="loading">
  Loading notes...
</div>

<mat-list *ngIf="!loading && notes.length > 0">
  <mat-list-item *ngFor="let note of notes" class="note-item" 
    (click)="goToNoteDetail(note._id!)" style="cursor: pointer;">

    <div class="note-main">
      <div class="note-title">{{ note.noteTitle }}</div>
      <div class="note-blocks-count">{{ note.blocks.length }} blocks</div>
    </div>

  </mat-list-item>
</mat-list>


<div *ngIf="!loading && notes.length === 0">
  No notes found.
</div>