<div class="note-edit-container" *ngIf="!loading && note">

  <!-- Header -->
  <div class="note-edit-header">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>Edit Note</h2>
  </div>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Note Title</mat-label>
    <input matInput [(ngModel)]="note.noteTitle">
  </mat-form-field>

  <div class="note-content-card">

    <!-- note-block -->
    <app-note-block *ngFor="let block of note.blocks" [block]="block" [editable]="true" (remove)="removeBlock(block)"
      (imageSelected)="uploadImage(block, $event)"
      (addListItem)="block.type === 'list' ? addListItem(block) : null"
      (addTableRow)="block.type === 'table' ? addTableRow(block) : null"
      (addTableColumn)="block.type === 'table' ? addTableColumn(block) : null"
      (imageSelected)="block.type === 'image' ? uploadImage(block, $event) : null"
      >
    </app-note-block>

  </div>

  <div class="add-block-buttons">
    <button mat-raised-button (click)="addBlock('title')">Title</button>
    <button mat-raised-button (click)="addBlock('paragraph')">Paragraph</button>
    <button mat-raised-button (click)="addBlock('list')">List</button>
    <button mat-raised-button (click)="addBlock('table')">Table</button>
    <button mat-raised-button (click)="addBlock('image')">Image</button>
  </div>

  <div class="submit-box">
    <button mat-raised-button color="primary" (click)="saveNote()">Save</button>
    <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
  </div>
</div>

<div *ngIf="loading">Loading note...</div>
<div *ngIf="error">{{ error }}</div>