:host {
    display: block;
}

.item {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    padding-bottom: 60px;
}

button {    
    width: 35px;
    height: 35px;
}

.button-group {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    gap: 8px;
}