<mat-card class="item" *ngIf="note" (dblclick)="edit.emit(note)">
    <h2>{{ note.noteTitle }}</h2>
    <p>
        {{ note.description }}
    </p>
    <div class="button-group">
    <button (click)="edit.emit(note)" 
            mat-fab
            color="accent"
            aria-label="Edit">
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="delete.emit(note)"
            mat-fab
            color="primary"
            aria-label="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>