.container {
  max-width: 1100px;
  margin: auto;
}

.grid {
  display: flex;
  gap: 24px;
}

.left-column,
.right-column {
  flex: 1;
}

.full {
  width: 100%;
}

.row-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.row-item input {
  flex: 1;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.submit-box {
  margin-top: 20px;
  text-align: center;
}

.addBtn {
  margin-bottom: 20px;
}