<!-- Filter -->
<div class="toolbar">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter()" [(ngModel)]="filters.search">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Part of Speech</mat-label>
    <mat-select [(ngModel)]="filters.partOfSpeech" (selectionChange)="applyFilter()">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let pos of partOfSpeechList" [value]="pos">{{pos}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="filters.type" (selectionChange)="applyFilter()">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let type of typeList" [value]="type">{{ type }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="filters.status" (selectionChange)="applyFilter()">
      <mat-option value="">All</mat-option>
      <mat-option value="perfect">Perfect</mat-option>
      <mat-option value="almost">Almost</mat-option>
      <mat-option value="notYet">Not Yet</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="goToAddWord()">
    + Add Word
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- word Column -->
  <ng-container matColumnDef="word">
    <th mat-header-cell *matHeaderCellDef> Word </th>
    <td mat-cell *matCellDef="let element"> {{element.word}} </td>
  </ng-container>

  <!-- word Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- phoneticSymbols Column -->
  <ng-container matColumnDef="phoneticSymbols">
    <th mat-header-cell *matHeaderCellDef> Phonetic symbols </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneticSymbols  ?? '' }} </td>
  </ng-container>

  <!-- PartOfSpeech Column -->
  <ng-container matColumnDef="partOfSpeech">
    <th mat-header-cell *matHeaderCellDef> Part of speech </th>
    <td mat-cell *matCellDef="let element"> {{element.partOfSpeech ?? '' }} </td>
  </ng-container>

  <!--Meaning Column -->
  <ng-container matColumnDef="meaning">
    <th mat-header-cell *matHeaderCellDef> Meaning </th>
    <td mat-cell *matCellDef="let element"> {{element.meaning}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToDetail(row)"
  class="clickable-row" ></tr>
</table>